body {
   background-color: #4870f7;
    color: rgb(252, 252, 252);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.Ribbon{
    background-color: whitesmoke;
    height: 30vh;
    color: black;
    font-size: 10px;
    text-align: center;
    border: 5px solid black;
    background-image: url(trees.webp);
    background-size: cover;
    background-position: center;
}
.header{
    text-align: center;
    color: white;
    margin-top: 80px;
}
.begin{
    margin: 40px;
    color: blueviolet;
    background-color: antiquewhite;
    border: 4px solid burlywood;
    padding: 60px;
    width: 67vw; 
    height: 29vh;
    position: absolute;
    top: 4200px;
    left: 20px;
}
.JR{
    position: relative;
}
.doto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.place{
    color: goldenrod;
    height: 20vh;
    
    
}