body {
   background-color: rgb(179, 12, 12);;
    color: rgb(252, 252, 252);
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
}
.Ribbon{
    height: 30vh;
    color: navajowhite;
    font-size: 40px;
    text-align: center;
    border: 5px solid black;
    font-weight: bolder;
    background-image: url(engine.webp);
    background-size: cover;
    background-position: center;
}
.post-header{
    margin-top: 1%;
    text-align: center;
    background-color: navajowhite;
    border: 5px solid black;
    color: darkblue;
    font-size: 30px;
    font-weight: 400;
}
.post1{
    text-align: center;
    background-color: navajowhite;
    color: darkblue;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 15px;
}
.post2{
    text-align: center;
    background-color: navajowhite;
    color: darkblue;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 15px;
}
.post3{
    text-align: center;
    background-color: navajowhite;
    color: darkblue;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 15px;
}